<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Fvp Crash Example</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>fvp_crash_example</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>We need access to your camera to enable photo taking within the app. This will allow you to capture and save photos directly using our features. Your privacy is our priority, and we will only use your camera for this purpose. Please grant permission to continue.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need access to your microphone to enable video recording within the app. This allows us to capture audio alongside your videos for a complete recording experience. Your privacy is important to us, and we will only use your microphone for this purpose. Please grant permission to continue.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>${PRODUCT_NAME} needs permission to save edited and newly captured photos to your photo library.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>${PRODUCT_NAME} requires access to your photo library to organize, recover, and manage your photos and videos effectively.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>Get a more personalized Photo Recovery experience on social media and other sites. Enable App Tracking Transparency to get the most relevant Photo Recovery ads on social media and other sites by sending activity to those sites from this device. Support future users on Photo Recovery that rely on ads to reach this app to be able to recover recently deleted media, organize, find, edit, and share any media they have on their devices. You can update your App Tracking settings anytime in your Apple device settings. For more info on how Photo Recovery uses data for advertising, see our Privacy Policy.</string>
	<key>PHPhotoLibraryPreventAutomaticLimitedAccessAlert</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
</dict>
</plist>
